@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Assignment 5</h1>
    <h3><span style="line-height: 26.7273px;">To view the one to many custom view select "</span><a href="http://localhost:52256/Courses/" class="__browserLink_selected_design" style="color: rgb(42, 100, 150); text-decoration: underline; outline: -webkit-focus-ring-color auto 5px; outline-offset: -2px; line-height: 29.4px;">Courses</a><span style="line-height: 26.7273px;">" Then Below each course there is a button titled "List Of Students" Click this button to see all students in that course</span></h3>
    <p class="lead"><span style="line-height: 26.7273px;">To view the one to many custom view select "Courses" Then Below each course there is a button titled "List Of Students" Click this button to see all students in that course</span></p>
    <h3><u>Custom n:n view</u></h3>
    <p>One to Many</p>
    <p>
        <a href="/Courses/">Courses</a> &rarr;
        <a href="/Students/">Students</a>
    </p>
    <p>Many to Many</p>
    <p>
        <a href="/Orders/">Orders</a> &rarr;
        <a href="/OrderDetails">OrderDetails</a> &larr;
        <a href="/Products/">Products</a>
    </p>

</div>
<div>

    <img src="~/Resouces/database.png" alt="Database image" />
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
            enables a clean separation of concerns and gives you full control over markup
            for enjoyable, agile development.
        </p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get more libraries</h2>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>